body {
  background: black;
  font-family: 'Segoe UI';
  color: rgb(217, 217, 217);
}

#mainContainer {
  border-left: 1px solid rgb(121, 75, 196);
  padding: 0.5em;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.entry {
  padding: 1em;
  text-align: block;
  word-wrap: break-word;
  border: 1px solid #333333;
  border-bottom: 0px solid #333333;
  overflow: hidden;
  width: 100%;
}

.picarea{
  float: left;
}

.entry img{
  margin: 0.5em 1em 4em 0em;
}

a {
  color: rgb(121, 75, 196);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.sidenote {
  color: rgb(110, 118, 125);
  font-size: 0.8em;
}
